<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dokdo&family=Gaegu&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Stylish&family=Sunflower:wght@300&display=swap" rel="stylesheet">
<style>
	body {
		text-align: center;
		vertical-align: middle;
		font-family: "{{f}}",serif;
		font-weight:{{w}};
	}
	span {
		font-size:500px; 
	}
</style>
</head>
<body>
<span>{{char}}</span>
</body>
</html>